.container-fluid{
    color: #161637;
}

.gradient-text {
    background-image: linear-gradient(45deg, #ff69b4, #ffb6c1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: xx-large;
}

.gradient-bg{
    background-image: linear-gradient(0deg, #ff69b4, #ffb6c1);
    background-attachment: fixed;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: cover;
    box-sizing: border-box;
    color: #f9f7f0;
    padding: 2em;

}

.container-fluid .logoutBtn{
    background-color: rgba(0, 0, 0, 0);
    border: none;
}